body{
	margin: 0px auto;
	font-family: sans-serif;
}
.all{
	height: 672px;
	width: 100%;

	background-color: #F9F9F9;
	
	}


 ::-webkit-scrollbar { 
    display: none; 
}

.menu{
	height: 100%;
	width: 25%;
	background-color: #131512;
	float: left;
	overflow-y:scroll;


}
a{
	text-decoration: none;
}
.menu-heading
{
	color: #F9F9F9;
}
.nav{
	margin-top: 10%;

}
.nav a{
	font-size: 90%;
}
.nav a:hover{
	text-decoration: none;
}

.nav a, .nav label {
  display: block;
  padding: .85rem;
  color: #fff;
  background-color: #151515;
  box-shadow: inset 0 -1px #1d1d1d;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}


.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
  color: rgba(255, 255, 255, 0.5);
  background: #030303;
}

.nav label { cursor: pointer; }


/**
 * Styling first level lists items
 */

.group-list a, .group-list label {
  padding-left: 2rem;
  background: #252525;
  box-shadow: inset 0 -1px #373737;
}

.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }

/**
 * Styling second level list items
 */

.sub-group-list a, .sub-group-list label {
  padding-left: 4rem;
  background: #353535;
  box-shadow: inset 0 -1px #474747;
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }

/**
 * Styling third level list items
 */

.sub-sub-group-list a, .sub-sub-group-list label {
  padding-left: 6rem;
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }

/**
 * Hide nested lists
 */

.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
max-height: 1000px; }








ul{
	 list-style-type: none;
}





.logo{
	height: 35%;
	width: 75%;
	
	float: right;
}


.project-title{
	color: #131512;
	font-size: 250%;
	letter-spacing: 3px;
	padding-top:6%;
	font-family: Papyrus, fantasy;
	font-weight: bolder;
}


.fast-buttons{
	height: 34%;
	width:75%;
	float: right;
	margin-top: 15%;
	
}
.click-buttons{
	height: 200px;
	display: flex;
	
	flex-direction: row;
}
.button1{
background-color: #d9d9d9;
	border-right:30px solid #F9F9F9;
	border-left:30px solid #F9F9F9;
	flex: 1;
	
	
}
.button2, .button3{
	
	flex:1;
	border-right:30px solid #F9F9F9;
	
	background-color: #d9d9d9;

}

.button1:hover, .button2:hover, .button3:hover{

	background-color: #b3b3b3;
}
nav label{
	font-size: 90%;
	font-weight: bold;
}


