table {
  font-family: "Helvetica Neue", Helvetica, sans-serif
  }

caption {
  text-align: left;
  color: black; //silver
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

thead {
  background: SteelBlue;
  color: white;
}

th,
td {
  padding: 5px 10px;
  font-size: 12px;
  text-align: left;

}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {

  font-family: monospace;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}
